/* Browser reset styling: */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/************ End of reset styling. *******************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCFCFC;
}

.main_content {
  margin: 0 auto;
  width: 330px;
  /*padding: 10px 20px;*/
}

.main_content article {
  margin-bottom: 50px;
}

.main_content article p {
  line-height: 1.1;
}

.main_content h2 {
  line-height: 2.5;
  font-size: 18px;
}

.main_content h3 {
  line-height: 2.5;
  font-size: 14px;
}

.main_banner {
  display: block;
  width: 100%;
}

.home-page-text {
  width: 100%;
}

/* .home_page_text h2 {
  padding: 30px 0;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 18px;
  color: #111;
  line-height: 14px;
} */

/* .kids_coding_text h2 {
  padding: 30px 0;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 18px;
  color: #111;
  line-height: 14px;
} */

.table {
  display: table;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  background-color: #707070;
}

ul {
  width: 330px;
  height: 30px;
  padding: 0 0;
  text-align: center;
  /*position: relative;*/
  /*display: inline-block; /* display elements inline */
}

ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  /*float: left; /* gets rid of space between list items */
  line-height: 30px;
}

ul li a {
  display: inline-block;
  text-decoration: none; /* underline gone*/
  font-size: 11px;
  font-family: 'Courier new';
  font-stretch: condensed;
  font-weight: 1000;
  color: #FCFCFC;
  padding: 0 3px; /* top-bottom side-side */
}

ul li a:hover {
  color: #EF767A;
}

@media only screen and (min-width: 768px) {
  .table {
    height: 40px;
  }

  ul {
    width: 600px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
  }

  ul li {
    line-height: 40px;
  }

  ul li a {
    padding: 0 10px;
    font-size: 18px;
  }

  .main_content {
    width: 600px;
    /*padding: 10px 20px;*/
  }
}

@media only screen and (min-width: 1000px) {
  .table {
    height: 60px;
  }

  ul {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  ul li {
    line-height: 60 px;
  }

  ul li a {
    padding: 0 25px;
    font-size: 25px;
    line-height: 60px;
  }

  .main_content {
    width: 1000px;
    /*padding: 10px 20px;*/
  }
}

/* Bad way to target a indv. element for styling: */
/*div h2 {*/
/*	color: green*/
/*}*/

/* Shouldn't really use ids for styling... */
/* #title {

} */
